.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride
Icon

__pycache__/
*.pyc
*.pyo
*.pyd
.venv314/
*.egg-info/
.venv/

*.pth

*.csv

rcssserver-master/
rcssmonitor/
helios-original/
другие материалы/

*.o
*.lo
*.la
*.a
*.so
.deps/
.libs/
Makefile
config.h
config.log
config.status
autom4te.cache/

*.rcl
*.rcg